name: CI

# Trigger the workflow on push or pull request
on:
  push:
    branches:
      - main
  pull_request:

env:
  CHERE_INVOKING: 1

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # the order of the checkout actions is important because all contents of
      # the target folder of the checkout action is removed
      - name: 'Clone the Example package'
        uses: actions/checkout@v2
        with:
          repository: gap-packages/example
      - name: 'Check out this repository'
        uses: actions/checkout@v2
        with:
          path: this-action/
      - uses: gap-actions/setup-gap@v2
      - uses: gap-actions/build-pkg@v1
      - uses: gap-actions/run-pkg-tests@v2
      - uses: ./this-action/
